body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../img/fondi.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px;
    width: 480px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
    display: block;
}

input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.botonera {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.botonera button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.btn-aceptar {
    background-color: #336aea;
    color: white;
}

.btn-aceptar:hover {
    background-color: #2955ba;
}

.btn-volver {
    background-color: #f44336;
    color: white;
}

.btn-volver:hover {
    background-color: #d32f2f;
}
